name: Release to Docker Hub
# ower: FabioPinheiro
# updated: 2024/11/25
# How to test:
# > unset GITHUB_TOKEN
# > git tag v9.9.9
# > git tag --delete v9.9.9
# > act --artifact-server-path /tmp/artifacts -s GITHUB_TOKEN="$(gh auth token)" --var DOCKERHUB_ORG=hyperledgeridentus --var DOCKERHUB_USERNAME=$DOCKERHUB_USERNAME -s DOCKERHUB_TOKEN=$DOCKERHUB_TOKEN -j build-and-push-docker-images schedule
# > act --artifact-server-path /tmp/artifacts -s GITHUB_TOKEN="$(gh auth token)" --var DOCKERHUB_ORG=hyperledgeridentus --var DOCKERHUB_USERNAME=$DOCKERHUB_USERNAME -s DOCKERHUB_TOKEN=$DOCKERHUB_TOKEN --workflows '.github/workflows/release-docker-hub.yml' push
# > act --artifact-server-path /tmp/artifacts -s GITHUB_TOKEN="$(gh auth token)" \
#     --var DOCKERHUB_ORG=hyperledgeridentus --var DOCKERHUB_USERNAME=$DOCKERHUB_USERNAME -s DOCKERHUB_TOKEN=$DOCKERHUB_TOKEN \
#     workflow_dispatch --workflows '.github/workflows/release-docker-hub.yml' --eventpath \
#     <( jq -n '{ inputs: { DEPLOYMENT_BRANCH: "v9.9.9" } }' )

# How to push old images from another repo:
# > docker login docker.io -u identus -p $DOCKERHUB_TOKEN
# > OLD_TAG=ghcr.io/hyperledger/identus-mediator:1.0.0; NEW_TAG=docker.io/identus/identus-mediator:1.0.0; docker buildx imagetools create --tag "$NEW_TAG" "$OLD_TAG"


concurrency:
  group: release

on:
  workflow_dispatch:
  push:
    tags:
      - v*
    branches:
      - 'main'

permissions:
  contents: read

jobs:
  build-binaries:
    if: ${{ !contains(github.event.head_commit.message, 'chore(release)') }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      GITHUB_ACTOR: "hyperledger-bot"
      GITHUB_ACTOR_EMAIL: "hyperledger-bot@hyperledger.org"
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      JAVA_TOOL_OPTIONS: -Djava.net.preferIPv4Stack=true
      SBT_OPTS: -Xmx2G
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@32ffa16635ff8f19cc21ea253a987f0fdf29844c # v14
        with:
          java-version: zulu@1.11.0

      - name: Cache sbt
        uses: coursier/cache-action@e47d7d35a0d3a2c7f649ca5c63dfc2bbfaa002e7 # v8.0.1

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "lts/*"

      - name: Setup Scala.JS
        uses: japgolly/setup-scalajs@f530918424acb5cca3d46ccd8f6d6a35f5654fd3 # v1

      - name: Build Binaries
        run:  sbt -J-Xmx5120m "docker:stage"
  
      - name: Save build Directory
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: docker-directory-artifact
          path: ./mediator/target/docker/stage
 
  build-and-push-docker-images:
    name: Build and Push Docker images
    runs-on: ubuntu-latest
    needs: build-binaries
    permissions:
      contents: read
    strategy:
      fail-fast: false
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: docker.io/${{ vars.DOCKERHUB_ORG }}/identus-mediator
          tags: |
            type=semver,pattern={{version}}
            type=sha,format=long
            type=edge,branch=main
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/v') }}

      - name: JOB INFO
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
          GITHUB_CONTEXT: ${{ toJson(github) }}
          JOB_CONTEXT: ${{ toJson(job) }}
        run: |
          echo "##################"
          echo "#### JOB INFO ####"
          echo "##################"
          echo "### github.event_name=${{ github.event_name }}"
          echo "### TAGS: ${{ steps.meta.outputs.tags == '' }}"
          echo "### DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}"
          echo "### DOCKERHUB_ORG: ${{ vars.DOCKERHUB_ORG }}"
          echo "${{ steps.meta.outputs.tags }}"
          echo "### RUNNER_CONTEXT: $RUNNER_CONTEXT"
          echo "### GITHUB_CONTEXT: $GITHUB_CONTEXT"
          echo "### JOB_CONTEXT: $JOB_CONTEXT"

      - name: Download docker-directory-artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: docker-directory-artifact
          path: docker-artifact

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          buildkitd-flags: --debug
          buildkitd-config-inline: |
            [worker.oci]
              max-parallelism = 1
          platforms: linux/amd64,linux/arm64

      - name: Login to the 'docker.io' Container Registry with  user '${{ vars.DOCKERHUB_USERNAME }}' as '${{ vars.DOCKERHUB_ORG }}' 
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: docker.io
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

     # TODO FIX These builds the image multiple times (matrix)
      - name: Build and push identus-mediator Image
        id: push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: ./docker-artifact/
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          push: ${{ steps.meta.outputs.tags != '' }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
