name: Release to Docker Hub
# ower: FabioPinheiro
# updated: 2024/11/25
# How to test:
# > unset GITHUB_TOKEN
# > git tag v9.9.9
# > git tag --delete v9.9.9
# > act --artifact-server-path /tmp/artifacts -s GITHUB_TOKEN="$(gh auth token)" --var DOCKERHUB_ORG=hyperledgeridentus --var DOCKERHUB_USERNAME=$DOCKERHUB_USERNAME -s DOCKERHUB_TOKEN=$DOCKERHUB_TOKEN -j build-and-push-docker-images schedule
# > act --artifact-server-path /tmp/artifacts -s GITHUB_TOKEN="$(gh auth token)" --var DOCKERHUB_ORG=hyperledgeridentus --var DOCKERHUB_USERNAME=$DOCKERHUB_USERNAME -s DOCKERHUB_TOKEN=$DOCKERHUB_TOKEN --workflows '.github/workflows/release-docker-hub.yml' push
# > act --artifact-server-path /tmp/artifacts -s GITHUB_TOKEN="$(gh auth token)" \
#     --var DOCKERHUB_ORG=hyperledgeridentus --var DOCKERHUB_USERNAME=$DOCKERHUB_USERNAME -s DOCKERHUB_TOKEN=$DOCKERHUB_TOKEN \
#     workflow_dispatch --workflows '.github/workflows/release-docker-hub.yml' --eventpath \
#     <( jq -n '{ inputs: { DEPLOYMENT_BRANCH: "v9.9.9" } }' )

# How to push old images from another repo:
# > docker login docker.io -u identus -p $DOCKERHUB_TOKEN
# > OLD_TAG=ghcr.io/hyperledger/identus-mediator:1.0.0; NEW_TAG=docker.io/identus/identus-mediator:1.0.0; docker buildx imagetools create --tag "$NEW_TAG" "$OLD_TAG"


concurrency:
  group: release

on:
  workflow_dispatch:
  push:
    tags:
      - v*
    branches:
      - 'main'

permissions:
  contents: read

jobs:
  build-binaries:
    if: ${{ !contains(github.event.head_commit.message, 'chore(release)') }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      GITHUB_ACTOR: "hyperledger-bot"
      GITHUB_ACTOR_EMAIL: "hyperledger-bot@hyperledger.org"
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      JAVA_TOOL_OPTIONS: -Djava.net.preferIPv4Stack=true
      SBT_OPTS: -Xmx2G
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@32ffa16635ff8f19cc21ea253a987f0fdf29844c # v14
        with:
          java-version: zulu@1.11.0

      - name: Cache sbt
        uses: coursier/cache-action@288585e12960315492c10d496fafb65b57d9a89b # v6.3.3

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "lts/*"

      - name: Setup Scala.JS
        uses: japgolly/setup-scalajs@f530918424acb5cca3d46ccd8f6d6a35f5654fd3 # v1

      - name: Build Binaries
        env:
          NODE_OPTIONS: --openssl-legacy-provider
        run:  sbt -J-Xmx5120m "docker:stage"
  
      - name: Save build Directory
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: docker-directory-artifact
          path: ./mediator/target/docker/stage
 
  build-and-push-docker-images:
    name: Build and Push Docker images
    runs-on: ubuntu-latest
    needs: build-binaries
    permissions:
      contents: read
    strategy:
      fail-fast: false
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: docker.io/${{ vars.DOCKERHUB_ORG }}/identus-mediator
          tags: |
            type=semver,pattern={{version}}
            type=sha,format=long
            type=edge,branch=main
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/v') }}

      - name: JOB INFO
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
          GITHUB_CONTEXT: ${{ toJson(github) }}
          JOB_CONTEXT: ${{ toJson(job) }}
        run: |
          echo "##################"
          echo "#### JOB INFO ####"
          echo "##################"
          echo "### github.event_name=${{ github.event_name }}"
          echo "### TAGS: ${{ steps.meta.outputs.tags == '' }}"
          echo "### DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}"
          echo "### DOCKERHUB_ORG: ${{ vars.DOCKERHUB_ORG }}"
          echo "${{ steps.meta.outputs.tags }}"
          echo "### RUNNER_CONTEXT: $RUNNER_CONTEXT"
          echo "### GITHUB_CONTEXT: $GITHUB_CONTEXT"
          echo "### JOB_CONTEXT: $JOB_CONTEXT"

      - name: Download docker-directory-artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: docker-directory-artifact
          path: docker-artifact

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          buildkitd-flags: --debug
          buildkitd-config-inline: |
            [worker.oci]
              max-parallelism = 1
          platforms: linux/amd64,linux/arm64

      - name: Login to the 'docker.io' Container Registry with  user '${{ vars.DOCKERHUB_USERNAME }}' as '${{ vars.DOCKERHUB_ORG }}' 
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: docker.io
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

     # TODO FIX These builds the image multiple times (matrix)
      - name: Build and push identus-mediator Image
        id: push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./docker-artifact/
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          push: ${{ steps.meta.outputs.tags != '' }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
